body {
  font-family: 'Open Sans';
  background: #454144;
  color: #FFC6FF;
}
h1 {
  font-family: "Permanent Marker";
  padding-top: 15%;
  color: #FFC6FF;
  text-align: center;
  font-size: 5em;
}
p {
  padding: 0 25%;
}
a {
  color: #B0DAEF;
  text-decoration: none;
}
