extends ./layouts/default.jade
block content
  .content
    .content-container
      .content-row
        .content-column
          h1.error-code 418
          h1 : Bad Internet Crash
          p page you thought you were looking for is wiped
          p everything brocken; please you restart computer now ;(
