include ./head.jade
body
  h1 Louis Knapp
  p I develop software at #[a(href="http://www.thoughtworks.com" target="_blank") ThoughtWorks], in Chicago, mostly with Ruby and Javascript.
  p I teach bike maintenance at #[a(href="http://therecyclery.org/" target="_blank") The Recyclery] and rescue birds the #[a(href="http://birdmonitors.net" target="_blank") Chicago Bird Collision Monitors.]
  p Here's a #[a(href="http://www.louisknapp.com/sketchbook/") digital sketchbook] I'm working on.
