extends ./layouts/default.jade
block content
  .content
    .content-container
      .content-row
        .content-column
          h1
            a(href="http://www.therecyclery.tumblr.com") The Recyclery
          p collective member, treasurer, host mechanic, and designer

          h1
            a(href="http://www.louisknapp.com/puppy-wellness") Puppy Wellness Center
          p chief strategist and designer

          h1
            a(href="http://birdmonitors.net") CBCM
          p certified bird rescuer

