include ./head.jade
body
  .container
    h1 Louis Knapp
    p -lives in Chicago
    p -develops software at #[a(href="https://www.thoughtworks.com" target="_blank") ThoughtWorks]
    p -wrenches at #[a(href="http://therecyclery.org/" target="_blank") The Recyclery]
    p -makes #[a(href="https://lknapp.github.io/sketchbook/") digital toys]
