include ./head.jade
body
  h1 Louis Knapp
  p I develop software at #[a(href="http://www.thoughtworks.com" target="_blank") ThoughtWorks], in Chicago, mostly with Ruby and Javascript.
  p I volunteer teaching bike maintenance at #[a(href="http://therecyclery.org/" target="_blank") The Recyclery] and rescuing birds that crash into buildings with the #[a(href="http://birdmonitors.net" target="_blank") Chicago Bird Collision Monitors.]
  p Custom shoemaking is a hobby of mine. Email me if you'd like a pair.
