@import "bootstrap_index.less";
@import "variables.less";

.nav {
  .header-row {
    color: @mauve;
    .make-row(@gutter: 0px);

    .title-column {
      .make-sm-column(9);
      .make-xs-column(12);
      margin-top: 50px;
      h1 {
        font-size: 64px;
        font-weight: bold;
      }
    }

    .self-portrait {
      display: none;
      @media (min-width: @screen-sm-min) {
        display: block;
        .make-sm-column(3);
        img {
          height: 150px;
        }
      }
    }

  }

  .nav-row {
    .make-row(@gutter: 0px);
    background-color: @mauve;
    ul {
      padding-top: 10px;
      padding-left: 10px;
      list-style-type: none;
      li {
        padding-right: 15px;
        display: inline-block;
        a {
          color: white;
          font-weight: bold;
        }
      }
    }
  }

}
