@import "bootstrap_index.less";
@import "variables.less";

.nav {
  .header-row {
    color: @mauve;
    .make-row(@gutter: 0px);

    .logo-column {
      .make-xs-column(12);
      margin-top: 50px;
      h1 {
        font-size: 64px;
        font-weight: bold;
      }
    }
  }
}
